---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Details from "../components/Details.astro";
import Brands from "../components/Brands.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Background from "../components/Background.astro";
import Features from "../components/Features.astro";
---

<Layout title="Yöneliş">
  <Background>
    <Header />
    <Hero />
  </Background>
  <main>
    <Details />
    <Brands />
    <Features />
    <Contact />
  </main>
  <Footer />
</Layout>
