---
export interface Props {
  classes?: string;
  paddingBlock?: string;
  paddingInline?: string;
  fullBleed?: boolean;
}

const { classes, paddingBlock, paddingInline, fullBleed } = Astro.props;

const _style = {
  paddingInline: `var(--size-${paddingInline})`,
  paddingBlock: `var(--size-${paddingBlock})`,
  width: fullBleed ? `100%` : "",
};
---

<div
  class={`container ${classes}`}
  style={(paddingBlock || paddingInline || fullBleed) && _style}
>
  <slot />
</div>

<style>
  .container {
    color: white;
    width: min(
      100vw - var(--container-mobile-padding-inline),
      var(--container-width)
    );
    margin-inline: auto;
  }
</style>
